// Color palette
$red: red;
// -- Holy Grail Palette
$palid-blue: #5070b5;
$darken-orange: #b95f21;
$vomit-green: #81a43c;
//---
$light-gray: #a59696;
$darken-gray: #555;
$white: white;
// Font Size
$standard-font: 16px;
// Font family
$poppins-font: "Poppins", sans-serif;
