/*
    @doc This code is related to flexbox in the matter
    of creating a responsive navbar.
    @author @CosmicTiger
    @date 04 Feb 2021
*/
.Navbar {
	// Block
	background-color: $light-gray;
	font-size: 2rem;

	&-wrapper {
		// Element
		display: flex;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&-item {
		// Element
		cursor: pointer;
		flex: auto;
		padding: 0.5rem;
		text-align: center;

		@include pointer-events {
			// Modifier
			background-color: $darken-gray;
			color: $white;
		}

		& > a {
			@include pointer-events {
				// Modifier
				color: $white;
				text-decoration: none;
			}
		}
	}
}

@media all and (max-width: 400px) {
	.Navbar {
		&-wrapper {
			flex-direction: column;
		}

		&-item {
			height: 100%;
			width: 100%;

			@include pointer-events {
				// Modifier
				background-color: $red;
				color: $white;
			}
		}
	}
}
